.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__logo {
    width: 40px;
    height: 40px;
}

.menu {
  font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 17px;

  &__item {
    position: relative;
    text-decoration: none;
    margin: 0 15px;
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    line-height: 50px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover:after {
      background-color: #0a7cff;
      border-radius: 1.5px;
      bottom: -6px;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  } 

}



